# Python Project

In [36]:
import pandas as pd

In [2]:
from pandas_profiling import ProfileReport

In [37]:
college = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/recent-grads.csv')
college

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

Question #1

how many majors in each category

In [17]:
count = college.groupby('Major_category').Major_category.count()
count.sort_values()

Major_category
Interdisciplinary                       1
Communications & Journalism             4
Law & Public Policy                     5
Industrial Arts & Consumer Services     7
Arts                                    8
Psychology & Social Work                9
Social Science                          9
Agriculture & Natural Resources        10
Physical Sciences                      10
Computers & Mathematics                11
Health                                 12
Business                               13
Biology & Life Science                 14
Humanities & Liberal Arts              15
Education                              16
Engineering                            29
Name: Major_category, dtype: int64

Question #2

all majors in health category all majors where women outnumber the men

In [33]:
health = college.loc[college.Major_category == 'Health']
health

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
34,35,6107,NURSING,209394.0,21773.0,187621.0,Health,0.896019,2554,180903,...,40818,122817,8497,0.044863,48000,39000,58000,151643,26146,6193
44,45,6105,MEDICAL TECHNOLOGIES TECHNICIANS,15914.0,3916.0,11998.0,Health,0.753927,190,13150,...,2665,9005,505,0.036983,45000,36000,50000,5546,7176,1002
51,52,6104,MEDICAL ASSISTING SERVICES,11123.0,803.0,10320.0,Health,0.927807,67,9168,...,4107,4290,407,0.042507,42000,30000,65000,2091,6948,1270
60,61,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,23551.0,8697.0,14854.0,Health,0.630716,38,16620,...,5346,9131,977,0.055521,40000,20000,90000,11573,4493,1121
88,89,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,13386.0,1589.0,11797.0,Health,0.881294,81,10076,...,4145,5868,893,0.081411,36000,23000,42000,5652,3835,1422
103,104,4002,NUTRITION SCIENCES,18909.0,2563.0,16346.0,Health,0.864456,118,13217,...,6648,6625,975,0.068701,35000,26000,45000,6535,5473,2449
104,105,6103,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,18109.0,4266.0,13843.0,Health,0.764427,184,15419,...,3299,10982,1518,0.089626,35000,27000,42000,2589,8592,1391
118,119,6110,COMMUNITY AND PUBLIC HEALTH,19735.0,4103.0,15632.0,Health,0.792095,130,14512,...,6377,7460,1833,0.112144,34000,21000,45000,5225,7385,1854
121,122,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,12740.0,5521.0,7219.0,Health,0.566641,31,7052,...,3891,3236,529,0.069780,33500,23000,40000,3051,3539,1159
126,127,6109,TREATMENT THERAPY PROFESSIONS,48491.0,13487.0,35004.0,Health,0.721866,224,37861,...,12346,21735,2409,0.059821,33000,24000,41000,22215,14616,4468
134,135,6100,GENERAL MEDICAL AND HEALTH SERVICES,33599.0,7574.0,26025.0,Health,0.774577,202,24406,...,11088,12809,2183,0.082102,32400,25000,45000,9364,12889,3816
163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,29763,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125

A person wants to go into Biology and Life Science. print the name of which major would be better to go into based on which has the highest amount of employed full time year round people.

In [99]:
bio = college.loc[college.Major_category == 'Biology & Life Science']
bio

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
48,49,3607,PHARMACOLOGY,1762.0,515.0,1247.0,Biology & Life Science,0.707719,3,1144,...,532,565,107,0.085532,45000,40000,45000,603,478,93
54,55,4006,COGNITIVE SCIENCE AND BIOPSYCHOLOGY,3831.0,1667.0,2164.0,Biology & Life Science,0.564866,25,2741,...,711,1584,223,0.075236,41000,20000,60000,1369,921,135
61,62,3603,MOLECULAR BIOLOGY,18300.0,7426.0,10874.0,Biology & Life Science,0.594208,90,11581,...,4590,6183,1067,0.084361,40000,29000,47000,7225,3145,1168
67,68,3605,GENETICS,3635.0,1761.0,1874.0,Biology & Life Science,0.515543,11,2463,...,847,1487,87,0.034118,40000,34000,45000,1675,678,201
80,81,3606,MICROBIOLOGY,15232.0,6383.0,8849.0,Biology & Life Science,0.580948,62,9685,...,3379,5080,693,0.066776,38000,29600,50000,5577,3174,1246
82,83,3601,BIOCHEMICAL SCIENCES,39107.0,18951.0,20156.0,Biology & Life Science,0.515406,174,25678,...,9948,13785,2249,0.080531,37400,29000,50000,15654,8394,3012
83,84,3602,BOTANY,1329.0,626.0,703.0,Biology & Life Science,0.528969,9,1010,...,169,740,0,0.000000,37000,26000,40000,677,184,56
92,93,1301,ENVIRONMENTAL SCIENCE,25965.0,10787.0,15178.0,Biology & Life Science,0.584556,225,20859,...,7071,10916,1779,0.078585,35600,25000,40200,8149,10076,3175
101,102,3608,PHYSIOLOGY,22060.0,8422.0,13638.0,Biology & Life Science,0.618223,99,14643,...,6541,7588,1088,0.069163,35000,20000,50000,6587,6894,2237
108,109,3611,NEUROSCIENCE,13663.0,4944.0,8719.0,Biology & Life Science,0.638147,53,9087,...,3078,5482,463,0.048482,35000,30000,44000,5605,2301,902
122,123,3699,MISCELLANEOUS BIOLOGY,10706.0,4747.0,5959.0,Biology & Life Science,0.556604,63,7767,...,2568,4542,483,0.058545,33500,23000,48000,4253,2722,459
123,124,3600,BIOLOGY,280709.0,111762.0,168947.0,Biology & Life Science,0.601858,1370,182295,...,72371,100336,13874,0.070725,33400,24000,45000,88232,81109,28339
132,133,3604,ECOLOGY,9154.0,3878.0,5276.0,Biology & Life Science,0.576360,86,7585,...,2741,3912,437,0.054475,33000,23000,42000,2856,4159,976
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743

Find all the majors where women dominate men

In [134]:
womenrock = college.loc[college.ShareWomen >= 0.5]

#now = womenrock.Major.to_frame()
#now

                                                 Major
7                           ASTRONOMY AND ASTROPHYSICS
29                                       PUBLIC POLICY
34                                             NURSING
39   NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...
40                                          ACCOUNTING
..                                                 ...
168                                            ZOOLOGY
169                             EDUCATIONAL PSYCHOLOGY
170                                CLINICAL PSYCHOLOGY
171                              COUNSELING PSYCHOLOGY
172                                    LIBRARY SCIENCE

[96 rows x 1 columns]

difference between the first and last ranked majors unemployed people

In [77]:
first = college.iloc[0,12]

last = college.iloc[-1, 12]
print(first,last)
# print(first,last)
difference = first - last
difference

1207 410

797

Question #4

 how many people got a full time college job thats no low wage

In [16]:
total = college.iloc[:,3].sum()
#print(total)
 
low_wage = college.iloc[:,-1].sum()
#print(low_wage)

collegejob = college.iloc[:,-3].sum()
#print(collegejob)

fulltime = college.iloc[:,-9].sum()
#print(fulltime)

best = low_wage + collegejob + fulltime

bestbest = total - best

bestbest

565092.0

Question #5

How many people got a fulltime college job thats not minimum wage

In [15]:

good_people = college.groupby(['Major','Total','Full_time_year_round','College_jobs','Low_wage_jobs' ])
good_people

SyntaxError: cannot assign to operator (502937657.py, line 5)

In [14]:
total = college.iloc[:,3].sum()
low_wage = college.iloc[:,-1].sum()
collegejob = college.iloc[:,-3].sum()
fulltime = college.iloc[:,-9].sum()

math = total - low_wage = college.iloc[:,-1].sum() + collegejob = college.iloc[:,-3].sum() + fulltime = college.iloc[:,-9].sum()


people = college.loc[:,['Major','Total','Full_time_year_round','College_jobs','Low_wage_jobs']]
people

,Major,Total,Full_time_year_round,College_jobs,Low_wage_jobs
0,PETROLEUM ENGINEERING,2339.0,1207,1534,193
1,MINING AND MINERAL ENGINEERING,756.0,388,350,50
2,METALLURGICAL ENGINEERING,856.0,340,456,0
3,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,692,529,0
4,CHEMICAL ENGINEERING,32260.0,16697,18314,972
...,...,...,...,...,...
168,ZOOLOGY,8409.0,3602,2771,743
169,EDUCATIONAL PSYCHOLOGY,2854.0,1211,1488,82
170,CLINICAL PSYCHOLOGY,2838.0,1293,986,622
171,COUNSELING PSYCHOLOGY,4626.0,2738,2403,308
172,LIBRARY SCIENCE,1098.0,410,288,192

In [18]:


menshare = college.iloc[:,3].sum() / college.iloc[:,4].sum()

2.3541902346870733

In [56]:
for index in range(len(college)):
    print(college.loc[index, 'Men'] / (college.iloc[:,3]))

0      0.879436
1      2.720899
2      2.403037
3      1.635135
4      0.063763
         ...
168    0.244619
169    0.720743
170    0.724806
171    0.444661
172    1.873406
Name: Total, Length: 173, dtype: float64
0      0.290295
1      0.898148
2      0.793224
3      0.539746
4      0.021048
         ...
168    0.080747
169    0.237912
170    0.239253
171    0.146779
172    0.618397
Name: Total, Length: 173, dtype: float64
0      0.309962
1      0.958995
2      0.846963
3      0.576312
4      0.022474
         ...
168    0.086217
169    0.254029
170    0.255462
171    0.156723
172    0.660291
Name: Total, Length: 173, dtype: float64
0      0.480120
1      1.485450
2      1.311916
3      0.892687
4      0.034811
         ...
168    0.133547
169    0.393483
170    0.395701
171    0.242758
172    1.022769
Name: Total, Length: 173, dtype: float64
0       9.080376
1      28.093915
2      24.811916
3      16.883148
4       0.658369
         ...
168     2.525746
169     7.441836
170     7.483791
171     4.591224
172    19.343352
Name: Total, Length: 173, dtype: float64
0      0.940573
1      2.910053
2      2.570093
3      1.748808
4      0.068196
         ...
168    0.261624
169    0.770848
170    0.775194
171    0.475573
172    2.003643
Name: Total, Length: 173, dtype: float64
0      0.902095
1      2.791005
2      2.464953
3      1.677266
4      0.065406
         ...
168    0.250922
169    0.739313
170    0.743481
171    0.456118
172    1.921676
Name: Total, Length: 173, dtype: float64
0      0.355708
1      1.100529
2      0.971963
3      0.661367
4      0.025790
         ...
168    0.098942
169    0.291521
170    0.293164
171    0.179853
172    0.757741
Name: Total, Length: 173, dtype: float64
0       34.339461
1      106.243386
2       93.831776
3       63.847377
4        2.489771
          ...
168      9.551671
169     28.142957
170     28.301621
171     17.362732
172     73.151184
Name: Total, Length: 173, dtype: float64
0      28.008123
1      86.654762
2      76.531542
3      52.075517
4       2.030719
         ...
168     7.790582
169    22.954100
170    23.083510
171    14.161479
172    59.663934
Name: Total, Length: 173, dtype: float64
0      14.218897
1      43.992063
2      38.852804
3      26.437202
4       1.030936
         ...
168     3.955048
169    11.653118
170    11.718816
171     7.189364
172    30.289617
Name: Total, Length: 173, dtype: float64
0       5.537837
1      17.133598
2      15.132009
3      10.296502
4       0.401519
         ...
168     1.540373
169     4.538542
170     4.564130
171     2.800043
172    11.796903
Name: Total, Length: 173, dtype: float64
0       3.594271
1      11.120370
2       9.821262
3       6.682830
4       0.260601
         ...
168     0.999762
169     2.945690
170     2.962297
171     1.817337
172     7.656648
Name: Total, Length: 173, dtype: float64
0      1.260795
1      3.900794
2      3.445093
3      2.344197
4      0.091414
         ...
168    0.350696
169    1.033287
170    1.039112
171    0.637484
172    2.685792
Name: Total, Length: 173, dtype: float64
0      1.507482
1      4.664021
2      4.119159
3      2.802862
4      0.109299
         ...
168    0.419313
169    1.235459
170    1.242424
171    0.762214
172    3.211293
Name: Total, Length: 173, dtype: float64
0      2.591706
1      8.018519
2      7.081776
3      4.818760
4      0.187911
         ...
168    0.720894
169    2.124036
170    2.136011
171    1.310419
172    5.520947
Name: Total, Length: 173, dtype: float64
0       5.324070
1      16.472222
2      14.547897
3       9.899046
4       0.386020
         ...
168     1.480913
169     4.363350
170     4.387949
171     2.691958
172    11.341530
Name: Total, Length: 173, dtype: float64
0      19.530996
1      60.427249
2      53.367991
3      36.313990
4       1.416088
         ...
168     5.432632
169    16.006657
170    16.096899
171     9.875270
172    41.605647
Name: Total, Length: 173, dtype: float64
0      0.784523
1      2.427249
2      2.143692
3      1.458665
4      0.056882
         ...
168    0.218219
169    0.642957
170    0.646582
171    0.396671
172    1.671220
Name: Total, Length: 173, dtype: float64
0      0.374947
1      1.160053
2      1.024533
3      0.697138
4      0.027185
         ...
168    0.104293
169    0.307288
170    0.309020
171    0.189581
172    0.798725
Name: Total, Length: 173, dtype: float64
0       42.643437
1      131.935185
2      116.522196
3       79.286963
4        3.091847
          ...
168     11.861458
169     34.948493
170     35.145525
171     21.561392
172     90.840619
Name: Total, Length: 173, dtype: float64
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
168   NaN
169   NaN
170   NaN
171   NaN
172   NaN
Name: Total, Length: 173, dtype: float64
0       3.497649
1      10.821429
2       9.557243
3       6.503180
4       0.253596
         ...
168     0.972886
169     2.866503
170     2.882664
171     1.768482
172     7.450820
Name: Total, Length: 173, dtype: float64
0      0.863617
1      2.671958
2      2.359813
3      1.605723
4      0.062616
         ...
168    0.240219
169    0.707779
170    0.711769
171    0.436662
172    1.839709
Name: Total, Length: 173, dtype: float64
0       5.769987
1      17.851852
2      15.766355
3      10.728140
4       0.418351
         ...
168     1.604947
169     4.728802
170     4.755462
171     2.917423
172    12.291439
Name: Total, Length: 173, dtype: float64
0      17.563489
1      54.339947
2      47.991822
3      32.655803
4       1.273435
         ...
168     4.885361
169    14.394184
170    14.475335
171     8.880458
172    37.414390
Name: Total, Length: 173, dtype: float64
0       7.191107
1      22.248677
2      19.649533
3      13.370429
4       0.521389
         ...
168     2.000238
169     5.893483
170     5.926709
171     3.635971
172    15.318761
Name: Total, Length: 173, dtype: float64
0       3.386490
1      10.477513
2       9.253505
3       6.296502
4       0.245536
         ...
168     0.941967
169     2.775403
170     2.791050
171     1.712278
172     7.214026
Name: Total, Length: 173, dtype: float64
0      3.162890
1      9.785714
2      8.642523
3      5.880763
4      0.229324
         ...
168    0.879772
169    2.592151
170    2.606765
171    1.599222
172    6.737705
Name: Total, Length: 173, dtype: float64
0      1.128260
1      3.490741
2      3.082944
3      2.097774
4      0.081804
         ...
168    0.313830
169    0.924667
170    0.929880
171    0.570471
172    2.403461
Name: Total, Length: 173, dtype: float64
0      1.138093
1      3.521164
2      3.109813
3      2.116057
4      0.082517
         ...
168    0.316566
169    0.932726
170    0.937984
171    0.575443
172    2.424408
Name: Total, Length: 173, dtype: float64
0      1.152202
1      3.564815
2      3.148364
3      2.142289
4      0.083540
         ...
168    0.320490
169    0.944289
170    0.949612
171    0.582577
172    2.454463
Name: Total, Length: 173, dtype: float64
0      0.842240
1      2.605820
2      2.301402
3      1.565978
4      0.061066
         ...
168    0.234273
169    0.690259
170    0.694151
171    0.425854
172    1.794171
Name: Total, Length: 173, dtype: float64
0      0.208636
1      0.645503
2      0.570093
3      0.387917
4      0.015127
         ...
168    0.058033
169    0.170988
170    0.171952
171    0.105491
172    0.444444
Name: Total, Length: 173, dtype: float64
0       9.308679
1      28.800265
2      25.435748
3      17.307631
4       0.674923
         ...
168     2.589250
169     7.628942
170     7.671952
171     4.706658
172    19.829690
Name: Total, Length: 173, dtype: float64
0       49.179136
1      152.156085
2      134.380841
3       91.438792
4        3.565716
          ...
168     13.679391
169     40.304835
170     40.532065
171     24.865975
172    104.763206
Name: Total, Length: 173, dtype: float64
0       38.370671
1      118.715608
2      104.846963
3       71.342607
4        2.782052
          ...
168     10.672969
169     31.446741
170     31.624031
171     19.400994
172     81.738616
Name: Total, Length: 173, dtype: float64
0       3.238563
1      10.019841
2       8.849299
3       6.021463
4       0.234811
         ...
168     0.900821
169     2.654170
170     2.669133
171     1.637484
172     6.898907
Name: Total, Length: 173, dtype: float64
0      1.486533
1      4.599206
2      4.061916
3      2.763911
4      0.107781
         ...
168    0.413486
169    1.218290
170    1.225159
171    0.751621
172    3.166667
Name: Total, Length: 173, dtype: float64
0      0.225737
1      0.698413
2      0.616822
3      0.419714
4      0.016367
         ...
168    0.062790
169    0.185004
170    0.186047
171    0.114137
172    0.480874
Name: Total, Length: 173, dtype: float64
0       40.410004
1      125.025132
2      110.419393
3       75.134340
4        2.929913
          ...
168     11.240219
169     33.118080
170     33.304792
171     20.432123
172     86.082878
Name: Total, Length: 173, dtype: float64
0      17.082514
1      52.851852
2      46.677570
3      31.761526
4       1.238562
         ...
168     4.751576
169    14.000000
170    14.078929
171     8.637268
172    36.389800
Name: Total, Length: 173, dtype: float64
0      11.710988
1      36.232804
2      32.000000
3      21.774245
4       0.849101
         ...
168     3.257462
169     9.597758
170     9.651868
171     5.921314
172    24.947177
Name: Total, Length: 173, dtype: float64
0       9.867465
1      30.529101
2      26.962617
3      18.346582
4       0.715437
         ...
168     2.744678
169     8.086896
170     8.132488
171     4.989192
172    21.020036
Name: Total, Length: 173, dtype: float64
0      1.674220
1      5.179894
2      4.574766
3      3.112878
4      0.121389
         ...
168    0.465692
169    1.372109
170    1.379845
171    0.846520
172    3.566485
Name: Total, Length: 173, dtype: float64
0       3.849936
1      11.911376
2      10.519860
3       7.158188
4       0.279138
         ...
168     1.070876
169     3.155221
170     3.173009
171     1.946606
172     8.201275
Name: Total, Length: 173, dtype: float64
0      1.265498
1      3.915344
2      3.457944
3      2.352941
4      0.091754
         ...
168    0.352004
169    1.037141
170    1.042988
171    0.639862
172    2.695811
Name: Total, Length: 173, dtype: float64
0      1.194528
1      3.695767
2      3.264019
3      2.220986
4      0.086609
         ...
168    0.332263
169    0.978977
170    0.984496
171    0.603978
172    2.544627
Name: Total, Length: 173, dtype: float64
0      0.220180
1      0.681217
2      0.601636
3      0.409380
4      0.015964
         ...
168    0.061244
169    0.180448
170    0.181466
171    0.111327
172    0.469035
Name: Total, Length: 173, dtype: float64
0      0.321505
1      0.994709
2      0.878505
3      0.597774
4      0.023311
         ...
168    0.089428
169    0.263490
170    0.264975
171    0.162559
172    0.684882
Name: Total, Length: 173, dtype: float64
0      1.026080
1      3.174603
2      2.803738
3      1.907790
4      0.074396
         ...
168    0.285408
169    0.840925
170    0.845666
171    0.518807
172    2.185792
Name: Total, Length: 173, dtype: float64
0      0.343309
1      1.062169
2      0.938084
3      0.638315
4      0.024892
         ...
168    0.095493
169    0.281359
170    0.282946
171    0.173584
172    0.731330
Name: Total, Length: 173, dtype: float64
0      0.213767
1      0.661376
2      0.584112
3      0.397456
4      0.015499
         ...
168    0.059460
169    0.175193
170    0.176180
171    0.108085
172    0.455373
Name: Total, Length: 173, dtype: float64
0      1.302266
1      4.029101
2      3.558411
3      2.421304
4      0.094420
         ...
168    0.362231
169    1.067274
170    1.073291
171    0.658452
172    2.774135
Name: Total, Length: 173, dtype: float64
0      0.712698
1      2.205026
2      1.947430
3      1.325119
4      0.051674
         ...
168    0.198240
169    0.584093
170    0.587385
171    0.360355
172    1.518215
Name: Total, Length: 173, dtype: float64
0      0.050876
1      0.157407
2      0.139019
3      0.094595
4      0.003689
         ...
168    0.014152
169    0.041696
170    0.041931
171    0.025724
172    0.108379
Name: Total, Length: 173, dtype: float64
0       4.422830
1      13.683862
2      12.085280
3       8.223370
4       0.320676
         ...
168     1.230230
169     3.624737
170     3.645173
171     2.236273
172     9.421676
Name: Total, Length: 173, dtype: float64
0       56.536127
1      174.917989
2      154.483645
3      105.117647
4        4.099132
          ...
168     15.725770
169     46.334268
170     46.595490
171     28.585819
172    120.435337
Name: Total, Length: 173, dtype: float64
0      10.886276
1      33.681217
2      29.746495
3      20.240859
4       0.789306
         ...
168     3.028065
169     8.921864
170     8.972163
171     5.504323
172    23.190346
Name: Total, Length: 173, dtype: float64
0       4.542112
1      14.052910
2      12.411215
3       8.445151
4       0.329324
         ...
168     1.263408
169     3.722495
170     3.743481
171     2.296585
172     9.675774
Name: Total, Length: 173, dtype: float64
0       3.718256
1      11.503968
2      10.160047
3       6.913355
4       0.269591
         ...
168     1.034249
169     3.047302
170     3.064482
171     1.880026
172     7.920765
Name: Total, Length: 173, dtype: float64
0      3.174861
1      9.822751
2      8.675234
3      5.903021
4      0.230192
         ...
168    0.883101
169    2.601962
170    2.616631
171    1.605275
172    6.763206
Name: Total, Length: 173, dtype: float64
0       4.397178
1      13.604497
2      12.015187
3       8.175676
4       0.318816
         ...
168     1.223094
169     3.603714
170     3.624031
171     2.223303
172     9.367031
Name: Total, Length: 173, dtype: float64
0       4.129115
1      12.775132
2      11.282710
3       7.677266
4       0.299380
         ...
168     1.148531
169     3.384022
170     3.403101
171     2.087765
172     8.795993
Name: Total, Length: 173, dtype: float64
0      2.587858
1      8.006614
2      7.071262
3      4.811606
4      0.187632
         ...
168    0.719824
169    2.120883
170    2.132840
171    1.308474
172    5.512750
Name: Total, Length: 173, dtype: float64
0      3.011116
1      9.316138
2      8.227804
3      5.598569
4      0.218320
         ...
168    0.837555
169    2.467765
170    2.481677
171    1.522482
172    6.414390
Name: Total, Length: 173, dtype: float64
0      1.889269
1      5.845238
2      5.162383
3      3.512719
4      0.136981
         ...
168    0.525508
169    1.548353
170    1.557082
171    0.955253
172    4.024590
Name: Total, Length: 173, dtype: float64
0      0.752886
1      2.329365
2      2.057243
3      1.399841
4      0.054588
         ...
168    0.209418
169    0.617029
170    0.620507
171    0.380674
172    1.603825
Name: Total, Length: 173, dtype: float64
0      0.640872
1      1.982804
2      1.751168
3      1.191574
4      0.046466
         ...
168    0.178261
169    0.525228
170    0.528189
171    0.324038
172    1.365209
Name: Total, Length: 173, dtype: float64
0      0.750748
1      2.322751
2      2.051402
3      1.395866
4      0.054433
         ...
168    0.208824
169    0.615277
170    0.618746
171    0.379594
172    1.599271
Name: Total, Length: 173, dtype: float64
0      0.459598
1      1.421958
2      1.255841
3      0.854531
4      0.033323
         ...
168    0.127839
169    0.376664
170    0.378788
171    0.232382
172    0.979053
Name: Total, Length: 173, dtype: float64
0      0.747755
1      2.313492
2      2.043224
3      1.390302
4      0.054216
         ...
168    0.207991
169    0.612824
170    0.616279
171    0.378080
172    1.592896
Name: Total, Length: 173, dtype: float64
0      0.382215
1      1.182540
2      1.044393
3      0.710652
4      0.027712
         ...
168    0.106315
169    0.313245
170    0.315011
171    0.193256
172    0.814208
Name: Total, Length: 173, dtype: float64
0      0.053014
1      0.164021
2      0.144860
3      0.098569
4      0.003844
         ...
168    0.014746
169    0.043448
170    0.043693
171    0.026805
172    0.112933
Name: Total, Length: 173, dtype: float64
0      14.075673
1      43.548942
2      38.461449
3      26.170906
4       1.020552
         ...
168     3.915210
169    11.535739
170    11.600775
171     7.116948
172    29.984517
Name: Total, Length: 173, dtype: float64
0      0.799059
1      2.472222
2      2.183411
3      1.485692
4      0.057936
         ...
168    0.222262
169    0.654870
170    0.658562
171    0.404021
172    1.702186
Name: Total, Length: 173, dtype: float64
0       74.309106
1      229.906085
2      203.047897
3      138.162957
4        5.387756
          ...
168     20.669402
169     60.900140
170     61.243481
171     37.572201
172    158.295993
Name: Total, Length: 173, dtype: float64
0       33.713980
1      104.308201
2       92.122664
3       62.684420
4        2.444420
          ...
168      9.377691
169     27.630343
170     27.786117
171     17.046476
172     71.818761
Name: Total, Length: 173, dtype: float64
0       40.136811
1      124.179894
2      109.672897
3       74.626391
4        2.910105
          ...
168     11.164229
169     32.894184
170     33.079634
171     20.293990
172     85.500911
Name: Total, Length: 173, dtype: float64
0       4.875588
1      15.084656
2      13.322430
3       9.065183
4       0.353503
         ...
168     1.356166
169     3.995795
170     4.018323
171     2.465197
172    10.386157
Name: Total, Length: 173, dtype: float64
0      2.728944
1      8.443122
2      7.456776
3      5.073927
4      0.197861
         ...
168    0.759068
169    2.236510
170    2.249119
171    1.379810
172    5.813297
Name: Total, Length: 173, dtype: float64
0      2.824711
1      8.739418
2      7.718458
3      5.251987
4      0.204805
         ...
168    0.785706
169    2.314996
170    2.328048
171    1.428232
172    6.017304
Name: Total, Length: 173, dtype: float64
0       8.102180
1      25.067460
2      22.139019
3      15.064388
4       0.587446
         ...
168     2.253657
169     6.640154
170     6.677590
171     4.096628
172    17.259563
Name: Total, Length: 173, dtype: float64
0      0.267636
1      0.828042
2      0.731308
3      0.497615
4      0.019405
         ...
168    0.074444
169    0.219341
170    0.220578
171    0.135322
172    0.570128
Name: Total, Length: 173, dtype: float64
0      2.262078
1      6.998677
2      6.181075
3      4.205882
4      0.164011
         ...
168    0.629207
169    1.853889
170    1.864341
171    1.143753
172    4.818761
Name: Total, Length: 173, dtype: float64
0      2.485250
1      7.689153
2      6.790888
3      4.620827
4      0.180192
         ...
168    0.691283
169    2.036790
170    2.048273
171    1.256593
172    5.294171
Name: Total, Length: 173, dtype: float64
0      2.643865
1      8.179894
2      7.224299
3      4.915739
4      0.191692
         ...
168    0.735403
169    2.166783
170    2.178999
171    1.336792
172    5.632058
Name: Total, Length: 173, dtype: float64
0      1.896109
1      5.866402
2      5.181075
3      3.525437
4      0.137477
         ...
168    0.527411
169    1.553959
170    1.562720
171    0.958712
172    4.039162
Name: Total, Length: 173, dtype: float64
0      0.679350
1      2.101852
2      1.856308
3      1.263116
4      0.049256
         ...
168    0.188964
169    0.556762
170    0.559901
171    0.343493
172    1.447177
Name: Total, Length: 173, dtype: float64
0      1.259940
1      3.898148
2      3.442757
3      2.342607
4      0.091352
         ...
168    0.350458
169    1.032586
170    1.038407
171    0.637051
172    2.683971
Name: Total, Length: 173, dtype: float64
0      0.345874
1      1.070106
2      0.945093
3      0.643084
4      0.025077
         ...
168    0.096206
169    0.283462
170    0.285060
171    0.174881
172    0.736794
Name: Total, Length: 173, dtype: float64
0      0.176571
1      0.546296
2      0.482477
3      0.328299
4      0.012802
         ...
168    0.049114
169    0.144709

Name: Total, Length: 173, dtype: float64

In [44]:
for total in range(len(college)):
    print(college.iloc[:,3])

0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0

Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64
0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64

In [52]:
college.iloc[:,3]

0       2339.0
1        756.0
2        856.0
3       1258.0
4      32260.0
        ...
168     8409.0
169     2854.0
170     2838.0
171     4626.0
172     1098.0
Name: Total, Length: 173, dtype: float64

For problem above : https://www.geeksforgeeks.org/different-ways-to-iterate-over-rows-in-pandas-dataframe/